/* Translation.css */

.chat-window {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 110%;
    max-width: 110%; /* Adjust the max-width as needed */
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .chat-history {
    flex: 1;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .user-message,
  .bot-response {
    margin-bottom: 10px;
  }
  
  .user-message {
    display: flex;
    flex-direction: column;
  }
  
  .user-message textarea {
    flex: 1;
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .action-btn {
    align-self: flex-end; /* Align to the right side */
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;

    margin-top: 570px;
  }
  
  .result-text {
    margin-top: 10px;
    font-size: 16px;
    color: #fefefe;
  }
  
  /* Keep the textarea fixed at the bottom */
  .user-message textarea {
    position: fixed;
    
    margin-top: 550px;
  }
  .text-area{
    width: 80%;
    max-width: 68%;
  }