@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-family: Poppins;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-top: 40px;
}

.grid-child {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.grid-child:hover {
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3 {
  font-family: Poppins;
  font-weight: 700;
}

.grid-child p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: Poppins;
}

.action-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.result-text {
  font-family: Poppins;
  font-size: 25px;
  line-height: 2.5rem;
}
.content {
  transition: margin-left 0.3s; /* Smooth transition for content */
}

.sidebar-open .content {
  margin-left: 200px; /* Adjust the margin when the sidebar is open */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-item {
  font-size: 12px;
  font-weight: bold;
  align-items: center !important;
  cursor: pointer;
  padding-bottom: 10px;
}
.video-item.item img {
  max-width: 180px;
}
/* App.css */

.content {
  transition: margin-left 0.3s; /* Smooth transition for content */
}

.sidebar-open .content {
  margin-left: 200px; /* Adjust the margin when the sidebar is open */
}

.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-open .toggle-btn {
  left: 220px; /* Adjust the position when the sidebar is open */
}

/* Add more styles as needed */
